%aside#sidebar
  %h1
    %a{:href => '/' }
      %span.firstname
        Irène
      %span.lastname
        Desvignes
  
  #lang
    = r18n.available_locales.map {|locale| "<a href='/?lang=#{locale.code}'>#{locale.title}</a>"} .join(', ')

  %nav#navigation
    %ul
      %li
        %a{:href => '#'}= t.navigation.home
      %li
        %a{:href => '#'}= t.navigation.work
      %li
        %a{:href => '#'}= t.navigation.press
      %li
        %a{:href => '#'}= t.navigation.exhibitions
      %li
        %a{:href => '#'}= t.navigation.background
      %li
        %a{:href => '#'}= t.navigation.contact
