%aside#sidebar
  %h1#header
    %a{href: '/' }
      %span.firstname
        Irène
      %span.lastname
        Desvignes

  #lang
    = {fr: 'Français', en: 'English', it: 'Italiano'}.map {|code, title| "<a href='/?lang=#{code}'>#{title}</a>"} .join(', ')

  %nav#navigation
    %ul.main
      %li
        %a{href: '#home'}= t.navigation.home
      - if session[:locale] == 'fr'
        %li
          %a{href: '#marks'}= t.navigation.marks
      %li
        %a{href: '#work'}= t.navigation.work
        %ul
          - @series.each do |serie|
            %li
              %a.work{href: "##{serie['slug']}"}= serie['name']

      %li
        %a{href: '#press'}= t.navigation.press
      %li
        %a{href: '#exhibitions'}= t.navigation.exhibitions
      %li
        %a{href: '#background'}= t.navigation.background
      %li
        %a{href: '#contact'}= t.navigation.contact
